.typingX{
  overflow: hidden; /* 保证文字在动画之前隐藏 */
  white-space: nowrap;
  animation: typing 2s steps(25, end),
    blink-caret .5s step-end infinite;
}

.typingL{
  animation: slideLeft 1s forwards;
}

.showView{
  animation: fadeIn 1s forwards
}

.hiddenView{
  animation: fadeOut 1s forwards
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0); }
}