.custom-cpn__wrapper {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.total-current {
  display: flex;
  font-size: 24px;
  font-weight: 500;
  height: 27px;
  color: white;
}
.total-current .total-chart {
  display: flex;
}
.total-current .total-chart .total-chart__item {
  width: 20px;
  text-align: center;
  line-height: 28px;
  margin-right: 2px;
  background: url(../imgs/number-bg.png) no-repeat;
  background-size: 100% 100%;
}
.total-wave {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 6px;
  font-size: 12px;
  box-shadow: inset 0 0 4px 1px currentColor;
}
.total-wave__up {
  color: #5cc78f;
}
.total-wave__down {
  color: #db6e66;
}

/* 柱状图 */
.bar-wrapper {
  width: 100%;
  height: 12px;
  margin: 10px 0;
}

.average-container {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: white;
}
.average-container img {
  margin-right: 6px;
  width: 12px;
  height: 12px;
}
