.cts3-nas__wrapper_two {
  width: 100%;
  height: 100%;
  color: white;
}

.cts3-nas__wrapper_two .list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
  overflow-y: scroll;
}
.cts3-nas__wrapper_two .list-container::-webkit-scrollbar {
  width: 0;
}

.cts3-nas__wrapper_two .nas-title__container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.cts3-nas__wrapper_two .nas-title__container img {
  width: 36px;
  height: 36px;
}
.cts3-nas__wrapper_two .nas-title__container span {
  font-size: 24px;
  font-weight: 600;
  margin-left: 10px;
}

.cts3-nas__wrapper_two .nas-content__container {
  width: 33%;
  margin-bottom: 5px;
  overflow-y: scroll;
}
.cts3-nas__wrapper_two .nas-content__container::-webkit-scrollbar {
  width: 0; /* 设置滚动条的宽度为0 */
}
.cts3-nas__wrapper_two .nas-content__container .content-stage {
  box-sizing: border-box;
  padding-left: 10px;
  padding-bottom: 12px;
  line-height: 14px;
  background-image: linear-gradient(#35eaff 14px, #1c4769 0);
  background-repeat: no-repeat;
  background-size: 1px 100%;
}
