.cts3-strategy__wrapper_two {
  width: 100%;
  height: 100%;
  color: white;
}

.cts3-strategy__wrapper_two .title-container {
  display: flex;
  align-items: center;
  height: 40px;
  margin-bottom: 2px;
  background-size: 100% 100%;
}
.cts3-strategy__wrapper_two .title-container img {
  width: 24px;
  height: 24px;
  margin-left: 8px;
}

.cts3-strategy__wrapper_two .list-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.cts3-strategy__wrapper_two .list-ul::-webkit-scrollbar,
.cts3-strategy__wrapper_two .list-item::-webkit-scrollbar {
  width: 0; /* 设置滚动条的宽度为0 */
}

.cts3-strategy__wrapper_two .list-item {
  padding: 10px 14px;
  width: 50%;
  height: 190px;
  background: url(../imgs/strategy-bg.png) no-repeat;
  background-size: 100% 100%;
  overflow-y: scroll;
}

.cts3-strategy__wrapper_two .list-li__container {
  display: flex;
  align-items: center;
  margin-bottom: 1px;
  line-height: 20px;
  background: url(../imgs/list-li.png) no-repeat;
  background-size: 100% 100%;
  /* padding: 0 10px; */
}

.cts3-strategy__wrapper_two .list-icon {
  width: 3px;
  height: 3px;
  background: #dff5f8;
  box-shadow: 0 0 1px 1px #dff5f8;
  margin: 0 12px;
}

.cts3-strategy__wrapper_two .list-item__label {
  flex: 1;
}
